spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mini_jira?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: minijira
    password: my@123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

server:
  port: 8080

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

security:
  jwt:
    secret: mini-jira-secret-key-for-jwt-token-signing-must-be-at-least-256-bits
    validity-ms: 3600000

logging:
  level:
    root: INFO
    org.springframework.security: INFO
